/*Clase para el contenedor global*/
.container{
    width: 800px;
    margin: auto; /*forza a centrado horizontal en la ventana*/
}
/*Observa que usamos medidas dinámicas*/
section{ 
    background: #F9F5C9;
    margin: 1% 0;
    padding: 1% 0;
}

/*Clase usamos para interrupir la flotación*/
.clear{ clear: both;}

/* Clase utilizada para usar 2 columnas en una fila */
.col2 {
    width: 50%;
    margin: 1% 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: pink;
    float: left;
}

/* Clase utilizada para usar 2 columnas en una fila */
.col3 {
    width: 33.3%;
    margin: 1% 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: pink;
    float: left;
}

/* Clase utilizada para usar 5 columnas en una fila */
.col5 {
    width: 20%;
    margin: 1% 0;
    padding: 1%;
    box-sizing: border-box;
    background-color: pink;
    float: left;
}

/* Navigation bar */

nav ul {
    margin: auto;
    width: 450px;
    background: cyan;
    padding: 0;
}

nav ul li {
    text-align: center;
    width: 33.3%;
    background: lightpink;
    list-style: none;
    padding: 10px 0;
    float: left;
}

    nav ul li:hover {
        background: #E44DFE;
    }

nav ul li a {
    text-decoration: none;
    color: darkblue;
}
