h1{color: red;}
#subtitulo{color: green;} 
.parrafo{color: blue;}

.pseudoclases :first-child {color: #ff0000;}
.pseudoclases :last-child {color: #0000ff;}
.pseudoclases :nth-child(4) {color: pink;}
.pink:hover {color: pink;}