h1{color: red;}
#subtitulo{color: green;} 
.parrafo{color: blue;}

.pseudoclases :first-child {color: #ff0000;}
.pseudoclases :last-child {color: #0000ff;}
.pseudoclases :nth-child(4) {color: pink;}
.pink:hover {color: pink;}

#box {
    width: 800px;
    background: cyan;
}

.inline, .block {
    color: #ffffff;
    margin: 10px;
    padding: 10px;
    background: purple;
    border: 3px solid green;
}

.block {
    background-color: #ff0000;
}