/* Estilos del primer ejercicio */
.container{
    width: 800px;
    margin: auto;
}
div, header, nav, main, footer, section, article, sidebar{
    border: 1px solid gray;
    margin: 2px;
    padding: 2px
}
main{background: pink;   }
section{ background: #F9F5C9;}
article{ background: #E2E2E2;}