h1 {
    text-align: center;
}

strong {
    color: darkblue;
    font-weight: bold;
}

em {
    color: red;
    font-weight: bold;
}

.grid-container,
.grid-container2 {
    /* 1. Indica display: grid; */
    display: grid;
    /* 2. Indica 3 columnas con grid-template-columns: auto auto auto;*/
    grid-template-columns: auto auto auto;
    /* El container tiene 3 columnas del mismo tamaño toman el tamaño de la ventana*/
    background-color: rgba(0, 93, 99, 1.00);
    padding: 10px;
}

.grid-container2 {
    /* 3. Indica display: display: inline-grid; para comparar con el anterior*/
    display: inline-grid;
    /* Se ajustaron los grid items al tamaño de su contenido*/
}

.grid-item {
    color: blue;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}