h1 {
    text-align: center;
}

strong {
    color: darkblue;
    font-weight: bold;
}

em {
    color: red;
    font-weight: bold;
}

.grid-container {
    display: grid;
    /* 1. Indica grid-column-gap: 50px; para modificar el espaciado entre columnas */
    /*grid-column-gap: 50px; depreciado*/
    column-gap: 50px;
    /* Versión no depreciada */
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 93, 99, 1.00);
    padding: 10px;
}

.grid-container2 {

    display: grid;
    /* 2. Indica grid-row-gap: 50px; para modificar el espaciado entre celdas */
    row-gap: 50px;
    /* No depreciado */
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 59, 131, 1.00);
    padding: 10px;
}

.grid-container3 {

    display: grid;
    /* 3. Indica ahora espacio entre columnas y filas en una sola declaración con grid-gap: 50px 100px;*/
    gap: 100px;
    /* Versión no depreciada */
    grid-template-columns: auto auto auto;
    background-color: rgba(0, 141, 119, 1.00);
    padding: 10px;

}

.grid-item {
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}