h1 {
    text-align: center;
}

strong {
    color: darkblue;
    font-weight: bold;
}

em {
    color: red;
    font-weight: bold;
}

.grid-container {
    /* 1. Inserta display: grid; */
    display: grid;
    /* 2. Aqui escribe grid-row-gap: 10px; */
    row-gap: 10px;
    /* 3. Asigna tres filas con grid-template-rows: 300px auto 200px; */
    grid-template-rows: 300px auto 200px;
    background-color: rgba(0, 93, 99, 1.00);
    padding: 10px;
}

.grid-item {
    color: darkblue;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}