h1{text-align:center;}
strong{ color: darkblue; font-weight: bold;}
em{ color: red; font-weight: bold;}
.grid-container{
/*+++++++++++++++++++++++++++++++++++++++++++*
    ESTE ES SOLO UN EJEMPLO PARA PODER 
     RESOLVER EL SIGUIENTE EJERCICIO

  OBSERVA ABAJO LOS ESTILOS PARA LOS ITEMS
+++++++++++++++++++++++++++++++++++++++++++*/
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
background-color: rgba(0,93,99,1.00);
padding: 10px;
}

.grid-container2{
display: grid;
grid-template-columns: auto auto auto;
grid-gap: 10px;
background-color: rgba(0,59,131,1.00);
padding: 10px;
}


.grid-container > div,
.grid-container2 > div	{
color: darkblue;
background-color: rgba(255, 255, 255, 0.6);
border: 1px solid rgba(0, 0, 0, 0.2);
padding: 20px;
font-size: 30px;
text-align: center;
}
.item1 {
grid-column-start: 1;
grid-column-end: 3;
}

.item1_B {
grid-row-start: 1;
grid-row-end: 3;
}