h1{text-align:center;}
strong{ color: darkblue; font-weight: bold;}
em{ color: red; font-weight: bold;}
.grid-container{
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: rgba(0,101,213,1.00);
  padding: 10px;
}

.grid-container > div{
  color: darkblue;
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}


@media screen and ( min-width: 768px ){
		
	/* Aqui van tus estilos si quieres que sea responsivo 
	   Puedes observar el archivo 05_GLM_lines.html como referencia.
	*/
    .item1 {
        grid-column-start: 1;
        grid-column-end: 4;
    }
    .item2 {
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    .item3 {
        grid-row-start: 2;
        grid-row-end: 5;
    }
    
    .item4 {
        grid-row-start: 2;
        grid-row-end: 4;
    }
    
    .item5 {
        grid-row-start: 4;
        grid-row-end: 5;
    }
    
    .item6 {
        grid-row-start: 5;
        grid-column-start: 1;
        grid-column-end: 4;
    }
	
	
}